/*
Mihir Lele, 8/26/2022

CSS file for recipes/index.html
*/


/* if tab is active, change color */
.tab a.active {background-color: #eaeaea;}

.story {
	text-indent: 24px;
	margin-bottom: 8px;
}

/* keep navbar stuck to top of page */
.navbar {
	position: sticky;
	top: 0;
	z-index: 2;
}

.card.recipelink:hover {
	cursor: pointer;
	background-color: #eaeaea;
}

/* keep tabs hidden except home. */
.tabcontent {display: none;}
#home {display: block;}
