/*
Mihir Lele, 8/8/2022

CSS file for recipes.html
*/


/* if tab is active, change color */
.tab button.active {background-color: #aaa;}

.recipe ol {line-height: 24px;}
.story {
	text-indent: 24px;
	margin-bottom: 8px;
}

.recipetab {
	display: grid;
	grid: auto / auto auto auto;
	justify-content: center;
}

.recipetab button {
	margin: 8px
}

/* keep header and category tabs stuck to top of page */
.sticky {
	position: sticky;
	top: 0;
	background-color: var(--bkg-color);
}

/* keep tabs hidden except home. */
.tabcontent {display: none;}
#home {display: block;}
